

.header h1 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  font-weight: 700;
  font-family: Helvetica;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los botones */
  align-items: center;
  right: 850px;
}

.button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  margin-top: 10px;
}

.button:hover {
  background-color: #4c00b4;
}


