/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
.body {
    background-color: #139e59; /* Color de fondo */
  }

/* Estilo del contenedor principal */
.container-deforest {
    color: #000000;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.button-back {  
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.ver-mas-btn {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .ver-mas-btn:hover {
    background-color: #45a049;
  }
  
  .more-info {
    margin-top: 20px;
  }
  
  .button-quiz {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-quiz:hover {
    background-color: #45a049;
  }