.quiz-container {
    position: relative;
    background-image: url('../../assets/fondo.jpg');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-logout {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10; /* Asegura que el botón esté sobre el canvas */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-logout:hover {
    background-color: #0056b3;
  }