#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.Title-Container{
  position: relative;
  margin-left: 150px; 
  margin-top: 5px;   
  margin-top: 10px; 
}  

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(153, 233, 128);
}