.home-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh; /* Para centrar el texto verticalmente */
  padding: 20px;
}

.home-container {
  display: flex;
  flex-direction: column; /* Cambiado a columna para centrar en el eje vertical */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto dentro del contenedor */
  gap: 20px; /* Espacio entre elementos */
  padding: 20px;
  height: auto; /* Ajusta automáticamente al contenido */
}

.home-title {
  font-size: 3rem; /* Tamaño más grande para que se note el efecto */
  color: #333; /* Color del texto */
  text-align: center;
  text-transform: uppercase; /* Opcional, convierte el texto a mayúsculas */
  font-weight: bold; /* Peso de la fuente */  
  position: relative;
  display: inline-block;
  transform: perspective(500px) rotateX(1deg) rotateY(1deg); /* Añade la transformación 3D */
  text-shadow: 
    2px 2px 3px rgba(0, 0, 0, 0.2), /* Sombra para darle un toque de profundidad */
    0 0 25px rgba(0, 0, 0, 0.2), /* Sombra difusa */
    0 0 5px rgba(0, 0, 0, 0.3); /* Sombra adicional */
}

.home-text {
  text-align: justify; /* Alinea el texto al centro */
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 1.6; /* Espaciado entre líneas */
  color: #333;
  max-width: 700px; /* Ancho máximo para limitar la extensión */
  margin: 0 auto; /* Centra el elemento horizontalmente */
}

.home-container-summaries {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los subtítulos y resúmenes */
  gap: 20px; /* Espacio entre las secciones */
  padding: 20px;
}

.summary-container {
  display: flex;
  flex-direction: row; /* Asegura que la imagen y el texto estén alineados en fila */
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  gap: 20px; /* Espacio entre la imagen y el texto */
  max-width: 900px; /* Ancho máximo */
  flex-wrap: wrap; /* Para que los elementos se ajusten en pantallas pequeñas */
  margin: 20px auto; /* Centra el contenedor en la página */
}

.summary-image {
  width: 150px; /* Tamaño fijo de la imagen */
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.home-subtitle {
  font-size: 24px;
  color: #2c3e50;
  text-align: left; /* Alineación izquierda para el subtítulo */
  margin-bottom: 10px;
}

.button-logout {
  position: absolute;
  top: 20px;
  right: 20px; /* Mantiene el botón de logout a la derecha */
  z-index: 10; /* Sobre el canvas */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save_our_planet {
  width: 80%;
  max-width: 350px;
  border-radius: 10px;
  display: block; /* Asegura que sea un bloque */
  margin: 20px auto; /* Centra la imagen horizontalmente */
}
