#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.Title-Container{
  position: relative;
  margin-left: 150px; /* Mueve la imagen hacia la derecha */
  margin-top: 5px;   /* Mueve la imagen hacia abajo */
  margin-top: 10px; /* Ajusta el espacio superior según necesites */
}  

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(211, 245, 201);
}