button {
  padding: 10px 20px;
  font-size: medium;
  color: hsl(0, 0%, 100%);
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background-color: #07a77f; /* Color de fondo */
}

button:hover {
  background-color: #0056b3;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
};