.Bio-container {
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    padding: 40px;
    margin-left:350px;
  }
  
  .BioText-introduction {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 18px; 
    line-height: 1.6; 
    color: #333; 
    max-width: 400px; 
    
  }
  .button-back {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;

}
.rana {
  position: absolute;
  width: 80%; 
  max-width: 350px; 
  border-radius: 10px; 
  margin: 20px auto; 
  top: 50px ;
  left: 100 px;
}
.colibri{
  position: absolute;
  width: 80%; 
  max-width: 350px; 
  border-radius: 10px; 
  margin: 20px auto; 
  top: 300px; /* Mover un poco hacia abajo */
  left: 950px; /* Aumentar el valor para mover más a la derecha */
}